/* Importaciones -------------------------------------------------*/
/* 100 300 500 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500&display=swap');

/* Variables --------------------------------------------------------------*/
:root{
    /* Colores */
    --colorPrincipal : #08D9D6;
    --colorComponentes :#2F3541;
    --colorTexto: #EAEAEA;
    --colorTexto: #EAEAEA;
    --colorEnfasis: #FFDF3A;

    /* Fonst weight */
    --fontBold: 500;
    --fontMedio: 300;
    --fontLigh: 100;

    /* Shadows */
    --shadowButtons: 0 4px 4px rgba(0, 0, 0, 0.25);
    --shadowComponentes: 0px 4px 10px 1px rgba(0, 0, 0, 0.25);

    /* Padding */
    --paddingInterfaz: 1em 2em;

    /* Tamaño de los botones */
    --tamañobuttons: 2.5rem;

    /* Tamaño Textos */
    --fontTexs: 1rem;
    --fontTitle: 1.3rem;
}

/* Normalizacion--------------------------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    list-style: none;
}
button{
    background: none;
    border: none;
}






/* Header ----------------------------------------------------*/
.header{
    width: 100%;
    padding: var(--paddingInterfaz);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--colorComponentes);
    box-shadow: var(--shadowComponentes);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}
.button-menu{
    font-size: var(--tamañobuttons);
    color: var(--colorPrincipal);
}



/* Contenedor Tareas --------------------------------------------------*/
.tareas{
    padding: var(--paddingInterfaz);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 100px 0;
}




/* Tarea Item -----------------------------------------------------*/
.tarea{
    width: 150px;;
    border-radius: 10px;
    box-shadow: var(--shadowButtons);

    background-color: var(--colorComponentes);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    color: var(--colorTexto);
    margin: 0 auto;
    transition: scale .3s;

    animation: entrada 2s;
}

@keyframes entrada {
    0%{
        transform: translateY(-100px);
    }
    50%{
        transform: translateY(50px);
    }
    70%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0);
    }
}
.tarea_name{
    text-align: center;
    margin-bottom: 10px;
}
.tarea_icon{
    font-size: 5rem;
}
.superTarea{
    background-color: var(--colorEnfasis);
    color: var(--colorComponentes);
}

.tarea_delete{
    background-color: rgb(107, 240, 114);
    scale: 0;
}



/* Opciones -----------------------------------------------------------*/
.options{
    width: 100%;
    padding: var(--paddingInterfaz);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--colorComponentes);
    box-shadow: var(--shadowComponentes);
    position: fixed;
    justify-content: center;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
}
.buttons_item{
    font-size: var(--tamañobuttons);
    color: var(--colorPrincipal);
}
#nuevaTareaBtn{
    transition: transform  1s;
}
.nuevaTarea--active{
    transform: rotate(45deg);
}



/* Modal Nueva tarea ---------------------------------------------------*/
.pantallaBlanca{
    height: 100vh;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 1s;
}
.pantallaBlanca--off{
    transform: translateY(-100vh);
}
.modalNewTarea{
    background-color: var(--colorComponentes);
    box-shadow: var(--shadowComponentes);
    padding: 3em 1em;
    max-width: 350px;
    border-radius: 20px;
    width: 500px;
    
    
}
.modalNewTarea_title{
    color: var(--colorTexto);
    font-size: var(--fontTitle);
    text-align: center;
    margin-bottom: 20px;
}
.form{
    color: var(--colorTexto);
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.form_description{
    font-weight: var(--fontMedio);
}
.form_input{
    background-color: var(--colorComponentes);
    color: var(--colorTexto);
    font-size: var(--fontTexs);
    font-weight: var(--fontMedio);
    border: none;
    padding: 1em 0;
    border-bottom: 1px solid var(--colorTexto);
}
.errorInput{
    border-color: rgb(252, 70, 70);
}
.form_input::placeholder{
    color: var(--colorTexto);
}
.sectionSuperTarea{
    display: flex;
    align-items: center;
    gap: 10px;
}
.form_star{
    font-size: 1.5rem;
    transition: all .3s;
}
.form_star--active{
    transform: rotate(360deg);
    color: var(--colorEnfasis);
}

.form_button{
    font-size: var(--fontTexs);
    display: block;
    width: 100%;
    text-align: center;
    color: var(--colorComponentes);
    background-color: var(--colorTexto);
    padding: var(--paddingInterfaz);
    border-radius: 20px;
}